.score {
  background: rgb(70, 168, 95);
  min-height: 65px;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: darkblue;
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
}

.score a {
 color: darkblue;
  ;
}

ul {
  list-style-type: none;
}
.reg {
  color: darkblue;
}

.guess-right {
  color: green;
}

.guess-wrong {
  color: red;
}