.card {
  background: #fff;
  flex: 1 5 20%; 
  margin: 1rem;
  padding: 10px;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px rgb(75, 150, 211);
}

.card > .img-container {
  flex: 1 5 20%; 
  align-self: center;
  background: white;
}
.card > .img-container > img {
  align-content: center;
  flex: 1 5 20%; 
}
.card > .content {
  flex: 1 5 20%; 
  padding-left: 1rem;
  padding-right: 1rem;
}

.style_click {
  box-shadow: 0 3px 6px rgb(202, 90, 168), 0 3px 6px rgb(202, 90, 168);
}