.footer {
  height: 50px;
  background-size: cover;
  background-position: center;
  position: relative;
}


.footer::after {
  content: "";
  display: block;
  opacity: .2;
  position: absolute;
  padding: 20px;
  color: darkblue;
  margin-top: 30px;
  align-self: baseline;
  background: black;
  background-color: rgb(70, 168, 95)
}

.footer * {
  position: relative;
  z-index: 2;
}

.footer h1, .footer h2 {
  color: white;
}

.footer h1 {
  font-size: 30px;
  padding-top: 140px;
  margin-top: 0;
}
